<main>
	<p>Start Page</p>
	<h3>Farcical Fantasy Solo Adventure</h3>
	<h4>How to Play</h4>
	<ol>
		<li>
			Decide whether you’re going to cheat or not. Most people cheat in solo adventures, even if they don’t admit it. If you’re not going to cheat, get a six-sided die.
		</li>
		<li>
			Go down to the local costume rental shop and get a Three Musketeers outfit. This is called “getting into character.”
		</li>
		<li>
			If you’re old enough, stop by the liquor store on the way back and pick up a few bottles of cheap red wine.
		</li>
		<li>
			Rent a video of The Three Musketeers. Start watching it, and practice knocking the tops off the wine bottles with your plastic rapier. This is called “getting the atmosphere.”
		</li>
		<li>
			Give up after you break the rapier, and open a bottle with a corkscrew. Drink all of it.
		</li>
		<li>
			Read “The Prelude.”
		</li>
		<li>
			Select five items from the list of equipment (unless cheating,in which case you presume you always have exactly what you need).
		</li>
		<li>
			Go to “The Adventure Begins!”
		</li>
		<li>
			Carefully evaluate the situation, choose a course of action, and go to the paragraph indicated, rolling a die when necessary.
		</li>
	</ol>
	<h4>The Simple Method:</h4>
	<p>Get a 6-sided die, and ignore steps 2–5.</p>
	<button (click)="emitStartAdventure(false)">I am the soul of Honor</button><button (click)="emitStartAdventure(true)">I am totally going to cheat</button>
</main>