<article class="book__page row row--padded">

	<h3 class="heading h1 book__heading">Page {{currentPage.number}}</h3>
	
	<img *ngIf="currentPage.imageUrl != undefined" src="{{currentPage.imageUrl}}" alt="{{currentPage.imageAltText}}" width="600" />
	<p [innerHTML]="currentPage.copy"></p>

	<div *ngIf="currentPage.die && !hero.godMode">
		<button class="die" (click)="emitRollDie()">
			{{currentPage.dieRoll | die}}
		</button>
		
	</div>

	<div class="options" *ngIf="currentPage.options != undefined">
		<h4 class="heading h4 book__heading options__heading">Do you...</h4>
		<div class="options__btn-wrap" *ngFor="let option of currentPage.options">
			<button class="options__btn" 
				(click)="emitChooseOption(option)"
				[disabled]="option.enabled != true"
				[innerHTML]="option.copy"></button>
		</div>
	</div>

	<div class="options" *ngIf="currentPage.end">
		<button class="options__btn" (click)="emitResetGame()">Restart Game</button>
	</div>

	<button class="btn book__bookmark book__bookmark--save" (click)="emitSaveGameState()">Bookmark This Page</button>
	<button class="btn book__bookmark book__bookmark--load" (click)="emitLoadGameState()">Go to Bookmarked Page</button>

</article>

<aside class="book__controls">
	


</aside>

<footer class="book__footer row row--flex" *ngIf="!hero.godMode">
	<div *ngIf="hero.gold > 0" class="book__footer__gold">
		<img src="assets/scum-quarter/images/gold.png" alt="gold" width="100" height="100" />
		<p class="book__footer__gold-amount">{{hero.gold}}</p>
	</div>
	<div *ngFor="let item of hero.inventory" class="footer__inventory">		
		<img src="{{item.imgUrl}}" alt="{{item.display}}" width="100" height="100" />
	</div>
	<div *ngIf="hero.dieModifier != 0" class="book__footer__die">
		<p>{{hero.dieModifier}}</p>
	</div>
	
</footer>



<footer class="book__footer row" *ngIf="hero.godMode">
	<h5 class="heading h3">Cheating Controls </h5>
	<button (click)="emitSetPage(currentPage.number - 1)" [disabled]="currentPage.number < 2">Previous Page</button>
	<button (click)="emitSetPage(currentPage.number + 1)" [disabled]="currentPage.number > 99">Next Page</button>
	{{currentPage.number}}
	<form (ngSubmit)="emitSetPage(inputPageNumber.value)">
		<input ngModel name="inputPageNumber" #inputPageNumber required type="number" min="1" max="100"/>
		<button type="submit" [disabled]="!inputPageNumber.validity.valid">Go</button>
	</form>
	<button class="btn" (click)="emitSaveGameState()">Bookmark This Page</button>
	<button class="btn" (click)="emitLoadGameState()">Go to Bookmarked Page</button>
	<button class="btn" (click)="emitResetGame()">Restart Game</button>
</footer>