.book{
	&__page{
		padding-top: 1rem;
		padding-bottom: 2rem;
		border: 1px dotted $mineShaft;
		margin-bottom: 2rem;
	}
}

.inventory {
	margin-bottom: 1.5rem;

	&__item {	
		position: relative;
		margin: 1% 2%;

		&--book {
			flex-basis: 33%;
			margin: 0;
			padding: .25rem;
		}

		&__checkbox {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			display: flex;
			cursor: pointer;

			&:disabled + label {
				opacity: .7;
				cursor: not-allowed;
			}

			&:checked + label img {
				border-color: $cello;
			}
		}

		&__label {
			display: block;

			img{
				border: 5px solid $poloBlue;
				
			}
			
		}

		&__description {
			width: 100%;
			max-width: 150px;
			margin: 0;
			padding: .5rem;
			text-align: center;
		}
	}
}

.die {
	width: 3rem;
	height: 3rem;
	border-radius: 1%;
	margin-bottom: 2rem;
	border: 1px solid $poloBlue;
	background: $white;
	cursor: pointer;
}

.option {
    display: block;
    width: 100%;
    text-align: left;
    border: 2px solid $poloBlue;
    background: $white;
    padding: 1rem 2%;
    margin-bottom: .5rem;
    cursor: pointer;

    &:disabled {
    	cursor: not-allowed;
    }
}