/*#region ----------------------------*\
  #GENERIC TAGS
\*------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font: 14px/1.5 Helvetica, sans-serif;
    background-color: $white;
}


p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}

em {
    font-style: italic;
}

address {
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

nav ul,
nav dl,
nav dt,
nav dd {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul,
footer ol {
    list-style-position: inside;
    padding-left: 0;
}

figure {
    margin: 0;
}

fieldset {
    border: 0 solid transparent;
    padding: 0;
    margin: 0;
}

/*REMOVE ARROWS NEXT TO NUMBERS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

article li {
    margin-bottom: .25em;
}
/*#endregion*/




/*#region ----------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

.heading {
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.1;

}

.h1 {
    font-size: 2.25rem; //36
}

.h2 {
    font-size: 1.75rem; //28
}

.h3 {
    font-size: 1.5rem; //24
}

.h4 {
    font-size: 1.25rem; //18
    
}

.h5 {
    font-size: 1.15rem; //16
}

.h6 {
    font-size: 1rem; //14
}

.text {
    &--required {
        color: red;
    }

    &--center {
        text-align: center;
    }
}
/*#endregion*/




/*#region ----------------------------*\
  #BUTTONS / CTAs
\*------------------------------------*/

/*------ #Drfault BUTTONS --------*/

.btn {
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:disabled {
        opacity: .6;
    }


}

/*#endregion*/







/*#region ----------------------------*\
  #PAGE-HEADER
\*------------------------------------*/
.header {
    border-bottom: 1px solid $black;
    @include justify-content(space-between);
    @include align-items(center);
}
/*#endregion*/




/*#region ----------------------------*\
  #NAVIGATION--HEADER
\*------------------------------------*/
.nav {

    &__link {
        color: $black;
        padding: .75rem 2rem;
        display: inline-block;
        @include transition(background $fast ease-in-out, color $fast ease-in-out);

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}
/*#endregion*/




/*#region ----------------------------*\
  #PAGE-FOOTER
\*------------------------------------*/

.footer {
    font-size: .72rem;
    background-color: $black;
    color: $white;
}



/*#endregion*/




/*#region ----------------------------*\
  #HELPER CLASSES
\*------------------------------------*/

.hidden,
.visible__tablet,
.visible__tablet--flex,
.visible__mobile,
.visible__mobile--flex {
    display: none;
}

/*#endregion*/




@media screen and (max-width:$tablet) {

    /*#region #HELPER CLASSES*/

    .visible__tablet {
        display: block;
    }

    .visible__tablet--flex {
        @include display-flex;
    }

    .visible__desk {
        display: none;
    }
    /*#endregion*/
}

@media screen and (max-width:$mobile) {

    /*#region #HELPER CLASSES/GLOBAL TAGS */
    .mobile-br {
        display: block;
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .visible__mobile {
        display: block;
    }

    .visible__mobile--flex {
        @include display-flex;
    }

    .hidden__mobile {
        display: none;
    }
    /*#endregion*/

    /*#endregion*/

    /*#region #HEADER*/
    $headerHeight: 55px;
    $navBtnWidth: 50px;

    .header {
        margin-top: $headerHeight;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }
    /*#endregion*/
}
