Down to the Scum Quarter
A Farcical Fantasy Solo Adventure


How to Play

1. Decide whether you’re going to cheat or not. Most people cheat in solo adventures, even if they don’t admit it. If you’re not going to cheat, get a six-sided die.
2. Go down to the local costume rental shop and get a Three Musketeers outfit. This is called “getting into character.”
3. If you’re old enough, stop by the liquor store on the way back and pick up a few bottles of cheap red wine.
4. Rent a video of The Three Musketeers. Start watching it, and practice knocking the tops off the wine bottles with your plastic rapier. This is called “getting the atmosphere.”
5. Give up after you break the rapier, and open a bottle with a corkscrew. Drink all of it.
6. Read “The Prelude.”
7. Select five items from the list of equipment (unless cheating,in which case you presume you always have exactly what you need).
8. Go to “The Adventure Begins!”
9. Carefully evaluate the situation, choose a course of action, and go to the paragraph indicated, rolling a die when necessary.

The Simple Method:
Get a 6-sided die, and ignore steps 2–5.